# Python bytecode и кеши
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если в папке venv, env или .env)
.venv/
env/
.env/

# Файлы конфигурации окружения
*.env

# Логи
*.log

# Pytest cache
.pytest_cache/